.card {
    display: flex;
    align-content: center;
    
}
.card {
    width: 170px;
    margin: 5px;
    border: solid 1px black
}

.card > img {
    margin: auto;
    width: 150px;
}

.card.hidden > img {
    opacity: 0.2;
}